@import 'staff/variables';

* {
  font-family: 'Gilroy';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    // margin-right: calc(-1 * (100vw - 100%));
}
body {
    overflow-x: hidden;
    background: url(../img/Vector.png) repeat;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #003CA5 #FFFFFF;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 4px;
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #EFEFEF;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #F0F0F0;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #003CA5;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #002C78;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #003CA5;
  }

@import 'blocks/header';
@import 'blocks/vacancy';
@import 'blocks/card';
@import 'blocks/footer';
@import 'blocks/form';
@import 'blocks/employers';
@import 'blocks/employersForm';
@import 'blocks/ppd';