.container {
    width: 80%;
    margin: 0 auto;
}

.vacancy {
    background-color: #e9e9e9;
    width: 100%;
    min-height: 1500px;
    padding-top: 30px;
    &__promo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 30px;
        &-img {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-text {
            width: 40%;
            color: $main-color;
            font-size: 20px;
            line-height: 22px;
            h2 {
                font-size: 40px;
                line-height: 40px;
            }
        }
    }
    &__header {
        margin-top: 80px;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .devider {
            width: 400px;
            border: solid 1px black;
            border-bottom: none;
        }
        .title-devider {
            color: $main-color;
            font-size: 40px;
        }
    }

    &__wrapper {
        width: 100%;
    }

    &__cards {
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 450px);
        gap: 40px;
        justify-content: center;
    }
}