.container {
    width: 90%;
    margin: 0 auto;
}

.vacancy {
    width: 100%;
    min-height: 1500px;
    padding-top: 30px;
    &__promo {
        display: flex;
        align-items: end;
        justify-content: space-around;
        padding-top: 30px;
        &-img {
            width: 612px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-text {
            width: 58%;
            color: $main-color;
            font-size: 25px;
            line-height: 30px;
            h2 {
                font-size: 50px;
                line-height: 40px;
            }
            .promoLinks {
                text-decoration: none;
                font-weight: bold;
                color: $main-color;
            }
            .promo__buttons {
                margin-top: 40px;
                display: flex;
                justify-content: start;
                align-items: center;
                button {
                    display: block;
                    width: 435px;
                    height: 66px;
                    border-radius: 100px;
                    background-color: $main-color;
                    font-weight: 700;
                    font-size: 25px;
                    color: #FFFFFF;
                    border: none;
                }
                .to__resumeConstructor {
                    width: 282px;
                    margin-left: 70px;
                }
                .jobOffer {
                    width: 282px;
                    margin-left: 70px;
                }
            }
        }
    }
    &__header {
        margin-top: 120px;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
        .title__wrapper {
            background-color: $main-color;
            padding-right: 50px;
            border-radius: 60px;
            height: 143px;
            display: flex;
            align-items: center;
            justify-content: end;
            z-index: 10;
        }
        .vacancy-title {
            display: block;
            color: #FFFFFF;
            font-size: 70px;
            width: 400px;
        }
        .title__text {
            font-size: 30px;
            line-height: 35px;
            color: $main-color;
            text-align: left;
            width: 45%;
            margin-left: 5%;
        }
        .title_filler {
            position: absolute;
            background-color: $main-color;
            height: 143px;
            width: 500px;
            left: -10%;
            z-index: 9;
            border-radius: 60px;
        }
    }

    &__wrapper {
        width: 100%;
    }

    &__cards {
        width: 100%;
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
        column-gap: 80px;
        row-gap: 60px;
        justify-content: center;
    }
    .noCards {
        width: 100%;
        text-align: center;
        color: $main-color;
    }
}

@media (max-width: 1500px) {
    .vacancy {
        &__header {
            margin-top: 120px;
            height: 60px;
            .title__wrapper {
                padding-right: 50px;
                height: 110px;
            }
            .vacancy-title {
                font-size: 48px;
            }
            .title__text {
                font-size: 22px;
                line-height: 25px;
            }
            .title_filler {
                height: 110px;
            }
        }    
        &__promo {
            &-img {
                width: 550px;
                img {
                    width: 85%;
                }
            }
            &-text {
                font-size: 20px;
                line-height: 25px;
                h2 {
                    font-size: 40px;
                    line-height: 35px;
                }
                .promo__buttons {
                    button {
                        width: 300px;
                        height: 50px;
                        font-size: 18px;
                    }
                    .to__resumeConstructor {
                        width: 250px;
                        margin-left: 70px;
                    }
                    .jobOffer {
                        width: 250px;
                        margin-left: 70px;
                    }
                }
            }
        }
        &__cards {
            width: 100%;
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(auto-fit, 340px);
            gap: 50px;
            justify-content: center;
        }
    }
    
}

@media (max-width: 1080px) {
    .vacancy {
        &__header {
            margin-top: 120px;
            height: 50px;
            .title__wrapper {
                padding-right: 50px;
                height: 100px;
            }
            .vacancy-title {
                font-size: 45px;
                width: 380px;
            }
            .title__text {
                font-size: 18px;
                line-height: 22px;
            }
            .title_filler {
                height: 100px;
            }
        }    
        &__promo {
            &-text {
                font-size: 15px;
                line-height: 18px;
                h2 {
                    font-size: 30px;
                    line-height: 30px;
                }
                .promo__buttons {
                    button {
                        height: 50px;
                        font-size: 15px;
                        width: 270px;
                    }
                    .to__resumeConstructor {
                        width: 150px;
                        margin-left: 40px;
                    }
                    .jobOffer {
                        width: 200px;
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .vacancy {
        &__promo {
            flex-direction: column;
            &-img {
                width: 50%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &-text {
                width: 100%;
                font-size: 15px;
                line-height: 16px;
                h2 {
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
        &__header {
            .devider {
                width: 50px;
                border: solid 1px black;
                border-bottom: none;
            }
            .title-devider {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 470px) {
    .vacancy {
        &__promo {
            padding-top: 0;
            flex-direction: column;
            &-img {
                width: 50%;
                padding-bottom: 10px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &-text {
                width: 100%;
                font-size: 15px;
                line-height: 16px;
                h2 {
                    text-align: center;
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
        &__header {
            margin-top: 20px;
        }
        &__cards {
            width: 100%;
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, 320px);
            gap: 40px;
            justify-content: center;
        }
    }
}